In [1]:
import pandas as pd

In [2]:
# Lets import Pokemon column from pokemon.csv into the pandas series
pokemon = pd.read_csv('pokemon.csv', usecols=['Pokemon'], squeeze=True)

google = pd.read_csv('google_stock_price.csv', squeeze=True)
print(type(pokemon))
print(type(google))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [3]:
print(pokemon.head())
print(pokemon.tail())
print(google.head())
print(google.tail())

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object
0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

In [4]:
print(len(pokemon))
print(len(google))

721
3012

In [5]:
print(type(pokemon))
print(type(google))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [6]:
# List the all available attributes and methods available for series 
dir(pokemon)
dict(pokemon)
list(pokemon)
sorted(pokemon)

['Abomasnow',
 'Abra',
 'Absol',
 'Accelgor',
 'Aegislash',
 'Aerodactyl',
 'Aggron',
 'Aipom',
 'Alakazam',
 'Alomomola',
 'Altaria',
 'Amaura',
 'Ambipom',
 'Amoonguss',
 'Ampharos',
 'Anorith',
 'Arbok',
 'Arcanine',
 'Arceus',
 'Archen',
 'Archeops',
 'Ariados',
 'Armaldo',
 'Aromatisse',
 'Aron',
 'Articuno',
 'Audino',
 'Aurorus',
 'Avalugg',
 'Axew',
 'Azelf',
 'Azumarill',
 'Azurill',
 'Bagon',
 'Baltoy',
 'Banette',
 'Barbaracle',
 'Barboach',
 'Basculin',
 'Bastiodon',
 'Bayleef',
 'Beartic',
 'Beautifly',
 'Beedrill',
 'Beheeyem',
 'Beldum',
 'Bellossom',
 'Bellsprout',
 'Bergmite',
 'Bibarel',
 'Bidoof',
 'Binacle',
 'Bisharp',
 'Blastoise',
 'Blaziken',
 'Blissey',
 'Blitzle',
 'Boldore',
 'Bonsly',
 'Bouffalant',
 'Braixen',
 'Braviary',
 'Breloom',
 'Bronzong',
 'Bronzor',
 'Budew',
 'Buizel',
 'Bulbasaur',
 'Buneary',
 'Bunnelby',
 'Burmy',
 'Butterfree',
 'Cacnea',
 'Cacturne',
 'Camerupt',
 'Carbink',
 'Carnivine',
 'Carracosta',
 'Carvanha',
 'Cascoon',
 'Castform',
 'Caterpie',
 'Celebi',
 'Chandelure',
 'Chansey',
 'Charizard',
 'Charmander',
 'Charmeleon',
 'Chatot',
 'Cherrim',
 'Cherubi',
 'Chesnaught',
 'Chespin',
 'Chikorita',
 'Chimchar',
 'Chimecho',
 'Chinchou',
 'Chingling',
 'Cinccino',
 'Clamperl',
 'Clauncher',
 'Clawitzer',
 'Claydol',
 'Clefable',
 'Clefairy',
 'Cleffa',
 'Cloyster',
 'Cobalion',
 'Cofagrigus',
 'Combee',
 'Combusken',
 'Conkeldurr',
 'Corphish',
 'Corsola',
 'Cottonee',
 'Cradily',
 'Cranidos',
 'Crawdaunt',
 'Cresselia',
 'Croagunk',
 'Crobat',
 'Croconaw',
 'Crustle',
 'Cryogonal',
 'Cubchoo',
 'Cubone',
 'Cyndaquil',
 'Darkrai',
 'Darmanitan',
 'Darumaka',
 'Dedenne',
 'Deerling',
 'Deino',
 'Delcatty',
 'Delibird',
 'Delphox',
 'Deoxys',
 'Dewgong',
 'Dewott',
 'Dialga',
 'Diancie',
 'Diggersby',
 'Diglett',
 'Ditto',
 'Dodrio',
 'Doduo',
 'Donphan',
 'Doublade',
 'Dragalge',
 'Dragonair',
 'Dragonite',
 'Drapion',
 'Dratini',
 'Drifblim',
 'Drifloon',
 'Drilbur',
 'Drowzee',
 'Druddigon',
 'Ducklett',
 'Dugtrio',
 'Dunsparce',
 'Duosion',
 'Durant',
 'Dusclops',
 'Dusknoir',
 'Duskull',
 'Dustox',
 'Dwebble',
 'Eelektrik',
 'Eelektross',
 'Eevee',
 'Ekans',
 'Electabuzz',
 'Electivire',
 'Electrike',
 'Electrode',
 'Elekid',
 'Elgyem',
 'Emboar',
 'Emolga',
 'Empoleon',
 'Entei',
 'Escavalier',
 'Espeon',
 'Espurr',
 'Excadrill',
 'Exeggcute',
 'Exeggutor',
 'Exploud',
 "Farfetch'd",
 'Fearow',
 'Feebas',
 'Fennekin',
 'Feraligatr',
 'Ferroseed',
 'Ferrothorn',
 'Finneon',
 'Flaaffy',
 'Flabébé',
 'Flareon',
 'Fletchinder',
 'Fletchling',
 'Floatzel',
 'Floette',
 'Florges',
 'Flygon',
 'Foongus',
 'Forretress',
 'Fraxure',
 'Frillish',
 'Froakie',
 'Frogadier',
 'Froslass',
 'Furfrou',
 'Furret',
 'Gabite',
 'Gallade',
 'Galvantula',
 'Garbodor',
 'Garchomp',
 'Gardevoir',
 'Gastly',
 'Gastrodon',
 'Genesect',
 'Gengar',
 'Geodude',
 'Gible',
 'Gigalith',
 'Girafarig',
 'Giratina',
 'Glaceon',
 'Glalie',
 'Glameow',
 'Gligar',
 'Gliscor',
 'Gloom',
 'Gogoat',
 'Golbat',
 'Goldeen',
 'Golduck',
 'Golem',
 'Golett',
 'Golurk',
 'Goodra',
 'Goomy',
 'Gorebyss',
 'Gothita',
 'Gothitelle',
 'Gothorita',
 'Gourgeist',
 'Granbull',
 'Graveler',
 'Greninja',
 'Grimer',
 'Grotle',
 'Groudon',
 'Grovyle',
 'Growlithe',
 'Grumpig',
 'Gulpin',
 'Gurdurr',
 'Gyarados',
 'Happiny',
 'Hariyama',
 'Haunter',
 'Hawlucha',
 'Haxorus',
 'Heatmor',
 'Heatran',
 'Heliolisk',
 'Helioptile',
 'Heracross',
 'Herdier',
 'Hippopotas',
 'Hippowdon',
 'Hitmonchan',
 'Hitmonlee',
 'Hitmontop',
 'Ho-oh',
 'Honchkrow',
 'Honedge',
 'Hoopa',
 'Hoothoot',
 'Hoppip',
 'Horsea',
 'Houndoom',
 'Houndour',
 'Huntail',
 'Hydreigon',
 'Hypno',
 'Igglybuff',
 'Illumise',
 'Infernape',
 'Inkay',
 'Ivysaur',
 'Jellicent',
 'Jigglypuff',
 'Jirachi',
 'Jolteon',
 'Joltik',
 'Jumpluff',
 'Jynx',
 'Kabuto',
 'Kabutops',
 'Kadabra',
 'Kakuna',
 'Kangaskhan',
 'Karrablast',
 'Kecleon',
 'Keldeo',
 'Kingdra',
 'Kingler',
 'Kirlia',
 'Klang',
 'Klefki',
 'Klink',
 'Klinklang',
 'Koffing',
 'Krabby',
 'Kricketot',
 'Kricketune',
 'Krokorok',
 'Krookodile',
 'Kyogre',
 'Kyurem',
 'Lairon',
 'Lampent',
 'Landorus',
 'Lanturn',
 'Lapras',
 'Larvesta',
 'Larvitar',
 'Latias',
 'Latios',
 'Leafeon',
 'Leavanny',
 'Ledian',
 'Ledyba',
 'Lickilicky',
 'Lickitung',
 'Liepard',
 'Lileep',
 'Lilligant',
 'Lillipup',
 'Linoone',
 'Litleo',
 'Litwick',
 'Lombre',
 'Lopunny',
 'Lotad',
 'Loudred',
 'Lucario',
 'Ludicolo',
 'Lugia',
 'Lumineon',
 'Lunatone',
 'Luvdisc',
 'Luxio',
 'Luxray',
 'Machamp',
 'Machoke',
 'Machop',
 'Magby',
 'Magcargo',
 'Magikarp',
 'Magmar',
 'Magmortar',
 'Magnemite',
 'Magneton',
 'Magnezone',
 'Makuhita',
 'Malamar',
 'Mamoswine',
 'Manaphy',
 'Mandibuzz',
 'Manectric',
 'Mankey',
 'Mantine',
 'Mantyke',
 'Maractus',
 'Mareep',
 'Marill',
 'Marowak',
 'Marshtomp',
 'Masquerain',
 'Mawile',
 'Medicham',
 'Meditite',
 'Meganium',
 'Meloetta',
 'Meowstic',
 'Meowth',
 'Mesprit',
 'Metagross',
 'Metang',
 'Metapod',
 'Mew',
 'Mewtwo',
 'Mienfoo',
 'Mienshao',
 'Mightyena',
 'Milotic',
 'Miltank',
 'Mime Jr.',
 'Minccino',
 'Minun',
 'Misdreavus',
 'Mismagius',
 'Moltres',
 'Monferno',
 'Mothim',
 'Mr. Mime',
 'Mudkip',
 'Muk',
 'Munchlax',
 'Munna',
 'Murkrow',
 'Musharna',
 'Natu',
 'Nidoking',
 'Nidoqueen',
 'Nidoran',
 'Nidoran♂',
 'Nidorina',
 'Nidorino',
 'Nincada',
 'Ninetales',
 'Ninjask',
 'Noctowl',
 'Noibat',
 'Noivern',
 'Nosepass',
 'Numel',
 'Nuzleaf',
 'Octillery',
 'Oddish',
 'Omanyte',
 'Omastar',
 'Onix',
 'Oshawott',
 'Pachirisu',
 'Palkia',
 'Palpitoad',
 'Pancham',
 'Pangoro',
 'Panpour',
 'Pansage',
 'Pansear',
 'Paras',
 'Parasect',
 'Patrat',
 'Pawniard',
 'Pelipper',
 'Persian',
 'Petilil',
 'Phanpy',
 'Phantump',
 'Phione',
 'Pichu',
 'Pidgeot',
 'Pidgeotto',
 'Pidgey',
 'Pidove',
 'Pignite',
 'Pikachu',
 'Piloswine',
 'Pineco',
 'Pinsir',
 'Piplup',
 'Plusle',
 'Politoed',
 'Poliwag',
 'Poliwhirl',
 'Poliwrath',
 'Ponyta',
 'Poochyena',
 'Porygon',
 'Porygon-Z',
 'Porygon2',
 'Primeape',
 'Prinplup',
 'Probopass',
 'Psyduck',
 'Pumpkaboo',
 'Pupitar',
 'Purrloin',
 'Purugly',
 'Pyroar',
 'Quagsire',
 'Quilava',
 'Quilladin',
 'Qwilfish',
 'Raichu',
 'Raikou',
 'Ralts',
 'Rampardos',
 'Rapidash',
 'Raticate',
 'Rattata',
 'Rayquaza',
 'Regice',
 'Regigigas',
 'Regirock',
 'Registeel',
 'Relicanth',
 'Remoraid',
 'Reshiram',
 'Reuniclus',
 'Rhydon',
 'Rhyhorn',
 'Rhyperior',
 'Riolu',
 'Roggenrola',
 'Roselia',
 'Roserade',
 'Rotom',
 'Rufflet',
 'Sableye',
 'Salamence',
 'Samurott',
 'Sandile',
 'Sandshrew',
 'Sandslash',
 'Sawk',
 'Sawsbuck',
 'Scatterbug',
 'Sceptile',
 'Scizor',
 'Scolipede',
 'Scrafty',
 'Scraggy',
 'Scyther',
 'Seadra',
 'Seaking',
 'Sealeo',
 'Seedot',
 'Seel',
 'Seismitoad',
 'Sentret',
 'Serperior',
 'Servine',
 'Seviper',
 'Sewaddle',
 'Sharpedo',
 'Shaymin',
 'Shedinja',
 'Shelgon',
 'Shellder',
 'Shellos',
 'Shelmet',
 'Shieldon',
 'Shiftry',
 'Shinx',
 'Shroomish',
 'Shuckle',
 'Shuppet',
 'Sigilyph',
 'Silcoon',
 'Simipour',
 'Simisage',
 'Simisear',
 'Skarmory',
 'Skiddo',
 'Skiploom',
 'Skitty',
 'Skorupi',
 'Skrelp',
 'Skuntank',
 'Slaking',
 'Slakoth',
 'Sliggoo',
 'Slowbro',
 'Slowking',
 'Slowpoke',
 'Slugma',
 'Slurpuff',
 'Smeargle',
 'Smoochum',
 'Sneasel',
 'Snivy',
 'Snorlax',
 'Snorunt',
 'Snover',
 'Snubbull',
 'Solosis',
 'Solrock',
 'Spearow',
 'Spewpa',
 'Spheal',
 'Spinarak',
 'Spinda',
 'Spiritomb',
 'Spoink',
 'Spritzee',
 'Squirtle',
 'Stantler',
 'Staraptor',
 'Staravia',
 'Starly',
 'Starmie',
 'Staryu',
 'Steelix',
 'Stoutland',
 'Stunfisk',
 'Stunky',
 'Sudowoodo',
 'Suicune',
 'Sunflora',
 'Sunkern',
 'Surskit',
 'Swablu',
 'Swadloon',
 'Swalot',
 'Swampert',
 'Swanna',
 'Swellow',
 'Swinub',
 'Swirlix',
 'Swoobat',
 'Sylveon',
 'Taillow',
 'Talonflame',
 'Tangela',
 'Tangrowth',
 'Tauros',
 'Teddiursa',
 'Tentacool',
 'Tentacruel',
 'Tepig',
 'Terrakion',
 'Throh',
 'Thundurus',
 'Timburr',
 'Tirtouga',
 'Togekiss',
 'Togepi',
 'Togetic',
 'Torchic',
 'Torkoal',
 'Tornadus',
 'Torterra',
 'Totodile',
 'Toxicroak',
 'Tranquill',
 'Trapinch',
 'Treecko',
 'Trevenant',
 'Tropius',
 'Trubbish',
 'Turtwig',
 'Tympole',
 'Tynamo',
 'Typhlosion',
 'Tyranitar',
 'Tyrantrum',
 'Tyrogue',
 'Tyrunt',
 'Umbreon',
 'Unfezant',
 'Unown',
 'Ursaring',
 'Uxie',
 'Vanillish',
 'Vanillite',
 'Vanilluxe',
 'Vaporeon',
 'Venipede',
 'Venomoth',
 'Venonat',
 'Venusaur',
 'Vespiquen',
 'Vibrava',
 'Victini',
 'Victreebel',
 'Vigoroth',
 'Vileplume',
 'Virizion',
 'Vivillon',
 'Volbeat',
 'Volcanion',
 'Volcarona',
 'Voltorb',
 'Vullaby',
 'Vulpix',
 'Wailmer',
 'Wailord',
 'Walrein',
 'Wartortle',
 'Watchog',
 'Weavile',
 'Weedle',
 'Weepinbell',
 'Weezing',
 'Whimsicott',
 'Whirlipede',
 'Whiscash',
 'Whismur',
 'Wigglytuff',
 'Wingull',
 'Wobbuffet',
 'Woobat',
 'Wooper',
 'Wormadam',
 'Wurmple',
 'Wynaut',
 'Xatu',
 'Xerneas',
 'Yamask',
 'Yanma',
 'Yanmega',
 'Yveltal',
 'Zangoose',
 'Zapdos',
 'Zebstrika',
 'Zekrom',
 'Zigzagoon',
 'Zoroark',
 'Zorua',
 'Zubat',
 'Zweilous',
 'Zygarde']

In [7]:
print(max(pokemon))
print(min(google))
print(google.idxmax())
print(google.idxmin())

Zygarde
49.95
3011
11

In [8]:
google.values

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [9]:
google.index

RangeIndex(start=0, stop=3012, step=1)

In [10]:
google.dtype

dtype('float64')

In [11]:
pokemon.is_unique

True

In [12]:
pokemon.ndim
google.ndim

1

In [13]:
pokemon.shape
google.shape

(3012,)

In [14]:
pokemon.size

721

In [15]:
print(pokemon.name)
print(google.name)
google.name = "STOCKs"
print(google.name)

Pokemon
Stock Price
STOCKs

In [16]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: STOCKs, dtype: float64

In [17]:
pokemon.sort_values().head()
pokemon.sort_values(ascending=False).head()
google.sort_values().head()

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: STOCKs, dtype: float64

In [18]:
google = google.sort_values()
google.head(2)

11    49.95
9     50.07
Name: STOCKs, dtype: float64

In [19]:
google.sort_values(ascending=False, inplace=True)

In [20]:
google.head()

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: STOCKs, dtype: float64

In [21]:
pokemon.sort_values(inplace=True)

In [22]:
pokemon.head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [23]:
pokemon.sort_index(inplace=True)
pokemon.head(2)

0    Bulbasaur
1      Ivysaur
Name: Pokemon, dtype: object

In [24]:
100 in pokemon
100 in pokemon.index

True

In [25]:
"Bulbasaur" in pokemon.values

True

In [26]:
pokemon[500]
pokemon[[100, 200, 300]]
pokemon[50:55]
pokemon[:5]
pokemon[-5:]
pokemon[-705::-1]

16     Pidgeotto
15        Pidgey
14      Beedrill
13        Kakuna
12        Weedle
11    Butterfree
10       Metapod
9       Caterpie
8      Blastoise
7      Wartortle
6       Squirtle
5      Charizard
4     Charmeleon
3     Charmander
2       Venusaur
1        Ivysaur
0      Bulbasaur
Name: Pokemon, dtype: object

In [27]:
pokemon = pd.read_csv('pokemon.csv', index_col='Pokemon', squeeze=True)
pokemon.head()
#pd.read_csv('google_stock_price.csv', squeeze=True)

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [28]:
pokemon['Bulbasaur']
pokemon[['Bulbasaur', 'Charmander']]
pokemon[['Bulbasaur', 'Charmander', 'Digimon']]

C:\Users\ab59349\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\series.py:851: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

Pokemon
Bulbasaur     Grass
Charmander     Fire
Digimon         NaN
Name: Type, dtype: object

In [29]:
pokemon.sort_index(inplace=True)
pokemon.head(3)

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Name: Type, dtype: object

In [30]:
pokemon.get('Absol')
pokemon.get(['Absol','Moltres'])
pokemon.get(['Absol','Moltres', 'Digimon'])

C:\Users\ab59349\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\series.py:851: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

Pokemon
Absol      Dark
Moltres    Fire
Digimon     NaN
Name: Type, dtype: object

In [31]:
google.head()

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: STOCKs, dtype: float64

In [32]:
google.count()

3012

In [33]:
google.sum()

1006942.0000000001

In [34]:
google.min()

49.95

In [35]:
google.std()

173.18720477113112

In [36]:
google.min()

49.95

In [37]:
google.max()

782.22

In [38]:
google.median()

283.315

In [39]:
google.mode()

0    291.21
dtype: float64

In [40]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: STOCKs, dtype: float64

In [41]:
google.idxmax()

3011

In [42]:
google.idxmin()

11

In [43]:
google[google.idxmin()]

49.95

In [44]:
pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Psychic      47
Fire         47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [45]:
google = pd.read_csv('google_stock_price.csv', squeeze=True)
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [46]:
def classify(num):
    if num < 300:
        return "OK"
    if num >= 300 and num < 650:
        return "Satisfactory"
    else:
        return "Incredible"

In [47]:
print(google.apply(classify).tail())

import numpy as np
google.apply(np.log).tail()

3007    Incredible
3008    Incredible
3009    Incredible
3010    Incredible
3011    Incredible
Name: Stock Price, dtype: object

3007    6.650124
3008    6.647779
3009    6.650512
3010    6.648479
3011    6.662136
Name: Stock Price, dtype: float64

In [48]:
google.apply(lambda stock_price : stock_price + 1).head()

0    51.12
1    55.10
2    55.65
3    53.38
4    53.95
Name: Stock Price, dtype: float64

In [49]:
google.nbytes

24096

In [50]:
google.itemsize

C:\Users\ab59349\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Series.itemsize is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

8

In [51]:
google.get_value(1)

C:\Users\ab59349\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

54.1

In [52]:
print(google.dtype)
google.astype('int32').head()

float64

0    50
1    54
2    54
3    52
4    52
Name: Stock Price, dtype: int32

In [82]:
pokemon = pd.read_csv('pokemon.csv', usecols=['Pokemon'], squeeze=True)

In [65]:
print(pokemon.get(0))
print(pokemon.get(10))
print(pokemon.get(101))
print(pokemon.get(202))
print(pokemon.get(500))

Bulbasaur
Metapod
Exeggcute
Girafarig
Oshawott

In [73]:
for i, j in pokemon.items():
    print(i, ':' , j)
    if i == 10:
        break

0 : Bulbasaur
1 : Ivysaur
2 : Venusaur
3 : Charmander
4 : Charmeleon
5 : Charizard
6 : Squirtle
7 : Wartortle
8 : Blastoise
9 : Caterpie
10 : Metapod

In [77]:
for i in pokemon.keys():
    print(pokemon[i])
    if i == 10:
        break

Bulbasaur
Ivysaur
Venusaur
Charmander
Charmeleon
Charizard
Squirtle
Wartortle
Blastoise
Caterpie
Metapod

In [83]:
print(pokemon.pop(1))
pokemon.head()

Ivysaur

0     Bulbasaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
Name: Pokemon, dtype: object

In [101]:
print(google.agg(min))
print(google.aggregate(min))

49.95
49.95

In [100]:
pokemon.aggregate(max)

'Zygarde'

In [173]:
import numpy as np
google = pd.read_csv('google_stock_price.csv', nrows=20, squeeze=True)
pokemon = pd.read_csv('pokemon.csv', usecols=['Pokemon'], nrows=20,  squeeze=True)

google.transform(np.sqrt)
google.transform([np.sqrt, np.exp])

        sqrt           exp
0   7.079548  5.845739e+21
1   7.355270  3.128466e+23
2   7.392564  5.422424e+23
3   7.237403  5.602024e+22
4   7.276675  9.905874e+22
5   7.341662  2.561372e+23
6   7.281483  1.062413e+23
7   7.137927  1.340614e+22
8   7.150524  1.605007e+22
9   7.076016  5.560639e+21
10  7.120393  1.044071e+22
11  7.067531  4.931844e+21
12  7.123202  1.086681e+22
13  7.148426  1.557572e+22
14  7.148426  1.557572e+22
15  7.253275  7.050707e+22
16  7.328028  2.097074e+23
17  7.462573  1.534121e+24
18  7.479305  1.969851e+24
19  7.545197  5.301330e+24

In [174]:
google.nunique

<bound method IndexOpsMixin.nunique of 0     50.12
1     54.10
2     54.65
3     52.38
4     52.95
5     53.90
6     53.02
7     50.95
8     51.13
9     50.07
10    50.70
11    49.95
12    50.74
13    51.10
14    51.10
15    52.61
16    53.70
17    55.69
18    55.94
19    56.93
Name: Stock Price, dtype: float64>

In [179]:
print(google.where(google < 50))
print("--------------------------")
print(google.where(google < 50).dropna())

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11    49.95
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
Name: Stock Price, dtype: float64
--------------------------
11    49.95
Name: Stock Price, dtype: float64

In [186]:
google.filter(google * 5 > 200)

True   NaN
True   NaN
True   NaN
True   NaN
True   NaN
True   NaN
True   NaN
True   NaN
True   NaN
True   NaN
True   NaN
True   NaN
True   NaN
True   NaN
True   NaN
True   NaN
True   NaN
True   NaN
True   NaN
True   NaN
Name: Stock Price, dtype: float64

In [160]:
google.groupby(level=0).apply(lambda x:x*2)

0     100.24
1     108.20
2     109.30
3     104.76
4     105.90
5     107.80
6     106.04
7     101.90
8     102.26
9     100.14
10    101.40
11     99.90
12    101.48
13    102.20
14    102.20
15    105.22
16    107.40
17    111.38
18    111.88
19    113.86
Name: Stock Price, dtype: float64

In [161]:
google = pd.read_csv('google_stock_price.csv', squeeze=True)

print(google.nlargest())
print(google.nsmallest(n=10))

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Stock Price, dtype: float64
11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
7     50.95
13    51.10
14    51.10
8     51.13
3     52.38
Name: Stock Price, dtype: float64

In [162]:
google.var()

29993.807896437687

In [167]:
print(google.is_unique)

False

### Missing data handling

In [192]:
google = pd.read_csv('google_stock_price.csv', nrows=20, squeeze=True)

In [203]:
google.isna();
google.notna();
google.dropna();
google.fillna(0);