In [1]:
import pandas as pd
import datetime as dt

# Review of Python's *datetime* Module

In [2]:
someday = dt.date(1986, 3, 11)

In [3]:
someday.year

1986

In [4]:
someday.month

3

In [5]:
someday.day

11

In [6]:
dts = dt.datetime(2010, 10, 20, 10, 30, 50)

In [7]:
dts.year
dts.month
dts.day
dts.hour
dts.minute
dts.second

50

In [8]:
str(dt.datetime(2010, 10, 20, 10, 30, 50))

'2010-10-20 10:30:50'

# The Pandas Timestamp Object

In [9]:
pd.Timestamp('2015-03-31')

Timestamp('2015-03-31 00:00:00')

In [10]:
pd.Timestamp('2015/03/31')

Timestamp('2015-03-31 00:00:00')

In [11]:
pd.Timestamp('2015,31, 03')

Timestamp('2015-03-01 00:00:00')

In [12]:
pd.Timestamp('1/1/2015')

Timestamp('2015-01-01 00:00:00')

In [13]:
pd.Timestamp('19/12/2015')

Timestamp('2015-12-19 00:00:00')

In [14]:
pd.Timestamp('12/19/2015')

Timestamp('2015-12-19 00:00:00')

In [15]:
pd.Timestamp('04/3/2015')

Timestamp('2015-04-03 00:00:00')

In [16]:
pd.Timestamp('2021-03-08 08:30:22')

Timestamp('2021-03-08 08:30:22')

In [17]:
pd.Timestamp('2021-03-08 08:30:22 PM')

Timestamp('2021-03-08 20:30:22')

In [18]:
pd.Timestamp(dt.date(2015,1,3))

Timestamp('2015-01-03 00:00:00')

In [19]:
pd.Timestamp(dt.datetime(2010,1,5,6,22,22))

Timestamp('2010-01-05 06:22:22')

# The Pandas DateTimeIndex Object

In [20]:
dates = ['2016-03-22', '2016-04-30', '2016-05-28']

In [21]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-03-22', '2016-04-30', '2016-05-28'], dtype='datetime64[ns]', freq=None)

In [22]:
dates = [dt.date(2016,1,10), dt.date(2017,3,15), dt.date(2018,7,19)]

In [23]:
dtIndex = pd.DatetimeIndex(dates)

In [24]:
value = [100,200,300]

In [25]:
pd.Series(value, index=dtIndex)

2016-01-10    100
2017-03-15    200
2018-07-19    300
dtype: int64

# The pd.to_datetime() Method

In [26]:
pd.to_datetime('2010-02-20')

Timestamp('2010-02-20 00:00:00')

In [27]:
pd.to_datetime('2010/02/20')

Timestamp('2010-02-20 00:00:00')

In [28]:
pd.to_datetime(dt.date(2010,1,20))

Timestamp('2010-01-20 00:00:00')

In [29]:
pd.to_datetime(dt.datetime(2010,1,20,20,20,20))

Timestamp('2010-01-20 20:20:20')

In [30]:
pd.to_datetime(['2010-02-20', '2011/02/20', dt.date(2012,1,20), dt.datetime(2013,1,20,20,20,20), '2014', 'July 4th, 2015'])

DatetimeIndex(['2010-02-20 00:00:00', '2011-02-20 00:00:00',
               '2012-01-20 00:00:00', '2013-01-20 20:20:20',
               '2014-01-01 00:00:00', '2015-07-04 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [31]:
times = pd.Series(['2010-02-20', '2011/02/20', dt.date(2012,1,20), '2014', 'July 4th, 2015'])

In [32]:
pd.to_datetime(times)

0   2010-02-20
1   2011-02-20
2   2012-01-20
3   2014-01-01
4   2015-07-04
dtype: datetime64[ns]

In [33]:
times = pd.Series(['2010-02-20', '2011/02/20', dt.date(2012,1,20), dt.datetime(2013,1,20,20,20,20), '2014', 'July 4th, 2015'])

In [34]:
pd.to_datetime(times)

0   2010-02-20 00:00:00
1   2011-02-20 00:00:00
2   2012-01-20 00:00:00
3   2013-01-20 20:20:20
4   2014-01-01 00:00:00
5   2015-07-04 00:00:00
dtype: datetime64[ns]

In [35]:
dates = pd.Series(['July 4th, 1996', '10/04/1991', 'Hello', '2015-02-31'])

In [36]:
pd.to_datetime(dates, errors='ignore')
pd.to_datetime(dates, errors='coerce')

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [37]:
# UNIX time in seconds
pd.to_datetime([123456789, 234567856, 1999978668, 987654321], unit='s')

DatetimeIndex(['1973-11-29 21:33:09', '1977-06-07 21:44:16',
               '2033-05-17 21:37:48', '2001-04-19 04:25:21'],
              dtype='datetime64[ns]', freq=None)

# Create Range of Dates with the pd.date_range() Method, Part 1

In [65]:
times = pd.date_range(start='2016-01-01', end='2016-01-10', freq='D')

In [39]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [40]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [41]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [42]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='2D')

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [43]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='B')

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [44]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='W')

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [45]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [46]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='6H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [47]:
pd.date_range(start='2016-01-01', end='2017-01-10', freq='M')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [48]:
pd.date_range(start='2016-01-01', end='2017-01-10', freq='MS')

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='MS')

# Create Range of Dates with the pd.date_range() Method, Part 2

In [49]:
pd.date_range(start='2012-09-09', periods=25, freq='4D')

DatetimeIndex(['2012-09-09', '2012-09-13', '2012-09-17', '2012-09-21',
               '2012-09-25', '2012-09-29', '2012-10-03', '2012-10-07',
               '2012-10-11', '2012-10-15', '2012-10-19', '2012-10-23',
               '2012-10-27', '2012-10-31', '2012-11-04', '2012-11-08',
               '2012-11-12', '2012-11-16', '2012-11-20', '2012-11-24',
               '2012-11-28', '2012-12-02', '2012-12-06', '2012-12-10',
               '2012-12-14'],
              dtype='datetime64[ns]', freq='4D')

In [50]:
pd.date_range(start='2012-09-09', periods=25, freq='B')

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12'],
              dtype='datetime64[ns]', freq='B')

In [51]:
pd.date_range(start='2012-09-09', periods=25, freq='W')

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24'],
              dtype='datetime64[ns]', freq='W-SUN')

In [52]:
pd.date_range(start='2012-09-09', periods=25, freq='W-SUN')

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24'],
              dtype='datetime64[ns]', freq='W-SUN')

In [53]:
pd.date_range(start='2012-09-09', periods=25, freq='W-TUE')

DatetimeIndex(['2012-09-11', '2012-09-18', '2012-09-25', '2012-10-02',
               '2012-10-09', '2012-10-16', '2012-10-23', '2012-10-30',
               '2012-11-06', '2012-11-13', '2012-11-20', '2012-11-27',
               '2012-12-04', '2012-12-11', '2012-12-18', '2012-12-25',
               '2013-01-01', '2013-01-08', '2013-01-15', '2013-01-22',
               '2013-01-29', '2013-02-05', '2013-02-12', '2013-02-19',
               '2013-02-26'],
              dtype='datetime64[ns]', freq='W-TUE')

In [54]:
pd.date_range(start='2012-09-09', periods=25, freq='MS')

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01'],
              dtype='datetime64[ns]', freq='MS')

In [55]:
pd.date_range(start='2012-09-09', periods=25, freq='A')

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# Create Range of Dates with the pd.date_range() Method, Part 3

In [56]:
pd.date_range(end='1999-01-01', periods=20, freq='2D')

DatetimeIndex(['1998-11-24', '1998-11-26', '1998-11-28', '1998-11-30',
               '1998-12-02', '1998-12-04', '1998-12-06', '1998-12-08',
               '1998-12-10', '1998-12-12', '1998-12-14', '1998-12-16',
               '1998-12-18', '1998-12-20', '1998-12-22', '1998-12-24',
               '1998-12-26', '1998-12-28', '1998-12-30', '1999-01-01'],
              dtype='datetime64[ns]', freq='2D')

In [57]:
pd.date_range(end='1999-01-01', periods=20, freq='B')

DatetimeIndex(['1998-12-07', '1998-12-08', '1998-12-09', '1998-12-10',
               '1998-12-11', '1998-12-14', '1998-12-15', '1998-12-16',
               '1998-12-17', '1998-12-18', '1998-12-21', '1998-12-22',
               '1998-12-23', '1998-12-24', '1998-12-25', '1998-12-28',
               '1998-12-29', '1998-12-30', '1998-12-31', '1999-01-01'],
              dtype='datetime64[ns]', freq='B')

In [58]:
pd.date_range(end='1999-01-01', periods=20, freq='M')

DatetimeIndex(['1997-05-31', '1997-06-30', '1997-07-31', '1997-08-31',
               '1997-09-30', '1997-10-31', '1997-11-30', '1997-12-31',
               '1998-01-31', '1998-02-28', '1998-03-31', '1998-04-30',
               '1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31',
               '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31'],
              dtype='datetime64[ns]', freq='M')

In [59]:
pd.date_range(end='1999-01-01', periods=20, freq='A')

DatetimeIndex(['1979-12-31', '1980-12-31', '1981-12-31', '1982-12-31',
               '1983-12-31', '1984-12-31', '1985-12-31', '1986-12-31',
               '1987-12-31', '1988-12-31', '1989-12-31', '1990-12-31',
               '1991-12-31', '1992-12-31', '1993-12-31', '1994-12-31',
               '1995-12-31', '1996-12-31', '1997-12-31', '1998-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [60]:
pd.date_range(end='1999-01-01', periods=20, freq='6H')

DatetimeIndex(['1998-12-27 06:00:00', '1998-12-27 12:00:00',
               '1998-12-27 18:00:00', '1998-12-28 00:00:00',
               '1998-12-28 06:00:00', '1998-12-28 12:00:00',
               '1998-12-28 18:00:00', '1998-12-29 00:00:00',
               '1998-12-29 06:00:00', '1998-12-29 12:00:00',
               '1998-12-29 18:00:00', '1998-12-30 00:00:00',
               '1998-12-30 06:00:00', '1998-12-30 12:00:00',
               '1998-12-30 18:00:00', '1998-12-31 00:00:00',
               '1998-12-31 06:00:00', '1998-12-31 12:00:00',
               '1998-12-31 18:00:00', '1999-01-01 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [61]:
pd.date_range(end='1999-01-01', periods=20, freq='W-FRI')

DatetimeIndex(['1998-08-21', '1998-08-28', '1998-09-04', '1998-09-11',
               '1998-09-18', '1998-09-25', '1998-10-02', '1998-10-09',
               '1998-10-16', '1998-10-23', '1998-10-30', '1998-11-06',
               '1998-11-13', '1998-11-20', '1998-11-27', '1998-12-04',
               '1998-12-11', '1998-12-18', '1998-12-25', '1999-01-01'],
              dtype='datetime64[ns]', freq='W-FRI')

In [62]:
pd.date_range(end='1999-01-01', periods=20, freq='MS')

DatetimeIndex(['1997-06-01', '1997-07-01', '1997-08-01', '1997-09-01',
               '1997-10-01', '1997-11-01', '1997-12-01', '1998-01-01',
               '1998-02-01', '1998-03-01', '1998-04-01', '1998-05-01',
               '1998-06-01', '1998-07-01', '1998-08-01', '1998-09-01',
               '1998-10-01', '1998-11-01', '1998-12-01', '1999-01-01'],
              dtype='datetime64[ns]', freq='MS')

# The .dt Accessor

In [3]:
bunch_of_dates = pd.date_range(start='2000-01-01', end='2010-12-31', freq='24D')

In [7]:
s = pd.Series(bunch_of_dates)
s.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [8]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
5      30
6      24
7      17
8      11
9       4
10     28
11     21
12     15
13      8
14      2
15     26
16     19
17     12
18      8
19      1
20     25
21     19
22     12
23      6
24     30
25     23
26     16
27     10
28      3
29     27
       ..
138    25
139    18
140    14
141     7
142     1
143    25
144    18
145    12
146     5
147    29
148    22
149    16
150     9
151     3
152    27
153    20
154    13
155     9
156     2
157    26
158    20
159    13
160     7
161    31
162    24
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [9]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
5       4
6       5
7       6
8       7
9       8
10      8
11      9
12     10
13     11
14     12
15     12
16      1
17      2
18      3
19      4
20      4
21      5
22      6
23      7
24      7
25      8
26      9
27     10
28     11
29     11
       ..
138     1
139     2
140     3
141     4
142     5
143     5
144     6
145     7
146     8
147     8
148     9
149    10
150    11
151    12
152    12
153     1
154     2
155     3
156     4
157     4
158     5
159     6
160     7
161     7
162     8
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [11]:
s.dt.dayofweek

0      5
1      1
2      4
3      0
4      3
5      6
6      2
7      5
8      1
9      4
10     0
11     3
12     6
13     2
14     5
15     1
16     4
17     0
18     3
19     6
20     2
21     5
22     1
23     4
24     0
25     3
26     6
27     2
28     5
29     1
      ..
138    6
139    2
140    5
141    1
142    4
143    0
144    3
145    6
146    2
147    5
148    1
149    4
150    0
151    3
152    6
153    2
154    5
155    1
156    4
157    0
158    3
159    6
160    2
161    5
162    1
163    4
164    0
165    3
166    6
167    2
Length: 168, dtype: int64

In [12]:
s.dt.weekday_name

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
5         Sunday
6      Wednesday
7       Saturday
8        Tuesday
9         Friday
10        Monday
11      Thursday
12        Sunday
13     Wednesday
14      Saturday
15       Tuesday
16        Friday
17        Monday
18      Thursday
19        Sunday
20     Wednesday
21      Saturday
22       Tuesday
23        Friday
24        Monday
25      Thursday
26        Sunday
27     Wednesday
28      Saturday
29       Tuesday
         ...
138       Sunday
139    Wednesday
140     Saturday
141      Tuesday
142       Friday
143       Monday
144     Thursday
145       Sunday
146    Wednesday
147     Saturday
148      Tuesday
149       Friday
150       Monday
151     Thursday
152       Sunday
153    Wednesday
154     Saturday
155      Tuesday
156       Friday
157       Monday
158     Thursday
159       Sunday
160    Wednesday
161     Saturday
162      Tuesday
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [16]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [17]:
mask = s.dt.is_month_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

In [18]:
s.dt.year

0      2000
1      2000
2      2000
3      2000
4      2000
5      2000
6      2000
7      2000
8      2000
9      2000
10     2000
11     2000
12     2000
13     2000
14     2000
15     2000
16     2001
17     2001
18     2001
19     2001
20     2001
21     2001
22     2001
23     2001
24     2001
25     2001
26     2001
27     2001
28     2001
29     2001
       ...
138    2009
139    2009
140    2009
141    2009
142    2009
143    2009
144    2009
145    2009
146    2009
147    2009
148    2009
149    2009
150    2009
151    2009
152    2009
153    2010
154    2010
155    2010
156    2010
157    2010
158    2010
159    2010
160    2010
161    2010
162    2010
163    2010
164    2010
165    2010
166    2010
167    2010
Length: 168, dtype: int64

# Import Financial Data Set with Pandas_datareader Library

In [21]:
from pandas_datareader import data

In [45]:
company = 'MSFT'
start = '2010-01-01'
end = '2017-10-01'
stocks = data.DataReader(name=company, data_source="yahoo", start=start, end=end)

In [39]:
stocks.head()

TypeError: __init__() got an unexpected keyword argument 'max_rows'

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  24.345514
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.720928
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.728914
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.577150
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  24.321552

# Selecting Rows from a DataFrame with a DateTimeIndex

In [40]:
stocks.loc['2010-01-05']

High         3.110000e+01
Low          3.064000e+01
Open         3.085000e+01
Close        3.096000e+01
Volume       4.974960e+07
Adj Close    2.472891e+01
Name: 2010-01-05 00:00:00, dtype: float64

In [43]:
stocks.iloc[20]

High         2.848000e+01
Low          2.792000e+01
Open         2.839000e+01
Close        2.841000e+01
Volume       8.593110e+07
Adj Close    2.269213e+01
Name: 2010-02-01 00:00:00, dtype: float64

In [44]:
stocks.loc['2010-01-05' : '2010-01-10']

TypeError: __init__() got an unexpected keyword argument 'max_rows'

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.728914
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.577150
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  24.321552
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  24.489288

In [48]:
birthdays = pd.date_range(start='1986-03-11', end='2017-01-01', freq=pd.DateOffset(years = 1))

In [50]:
mask = stocks.index.isin(birthdays)

In [52]:
stocks.loc[mask]

TypeError: __init__() got an unexpected keyword argument 'max_rows'

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-03-11  29.190001  28.850000  28.889999  29.180000  35349700.0  23.416149
2011-03-11  25.850000  25.360001  25.410000  25.680000  49905800.0  21.062538
2013-03-11  27.969999  27.670000  27.940001  27.870001  36627500.0  24.186516
2014-03-11  38.230000  37.720001  37.869999  38.020000  25216400.0  33.967102
2015-03-11  42.369999  41.840000  42.310001  41.980000  32215300.0  38.517334
2016-03-11  53.070000  52.380001  53.000000  53.070000  32275700.0  50.021328

# Timestamp Object Attributes

In [53]:
somedays = stocks.index[200]

In [64]:
somedays.year
somedays.month
somedays.day
somedays.dayofweek
somedays.is_month_start
somedays.weekday_name

C:\Users\saanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead

'Monday'

In [65]:
stocks.insert(0, 'Day of Week', stocks.index.weekday_name)

In [66]:
stocks.head()

TypeError: __init__() got an unexpected keyword argument 'max_rows'

           Day of Week       High        Low       Open      Close  \
Date
2009-12-31    Thursday  30.990000  30.480000  30.980000  30.480000
2010-01-04      Monday  31.100000  30.590000  30.620001  30.950001
2010-01-05     Tuesday  31.100000  30.639999  30.850000  30.959999
2010-01-06   Wednesday  31.080000  30.520000  30.879999  30.770000
2010-01-07    Thursday  30.700001  30.190001  30.629999  30.450001

                Volume  Adj Close
Date
2009-12-31  31929700.0  24.345514
2010-01-04  38409100.0  24.720928
2010-01-05  49749600.0  24.728914
2010-01-06  58182400.0  24.577150
2010-01-07  50559700.0  24.321552

In [67]:
stocks.insert(1, 'Year', stocks.index.year)

In [68]:
stocks.head()

TypeError: __init__() got an unexpected keyword argument 'max_rows'

           Day of Week  Year       High        Low       Open      Close  \
Date
2009-12-31    Thursday  2009  30.990000  30.480000  30.980000  30.480000
2010-01-04      Monday  2010  31.100000  30.590000  30.620001  30.950001
2010-01-05     Tuesday  2010  31.100000  30.639999  30.850000  30.959999
2010-01-06   Wednesday  2010  31.080000  30.520000  30.879999  30.770000
2010-01-07    Thursday  2010  30.700001  30.190001  30.629999  30.450001

                Volume  Adj Close
Date
2009-12-31  31929700.0  24.345514
2010-01-04  38409100.0  24.720928
2010-01-05  49749600.0  24.728914
2010-01-06  58182400.0  24.577150
2010-01-07  50559700.0  24.321552

# The .truncate() Method

In [69]:
stocks.truncate(before='2011-01-01', after='2011-12-31')

TypeError: __init__() got an unexpected keyword argument 'max_rows'

           Day of Week  Year       High        Low       Open      Close  \
Date
2011-01-03      Monday  2011  28.180000  27.920000  28.049999  27.980000
2011-01-04     Tuesday  2011  28.170000  27.850000  27.940001  28.090000
2011-01-05   Wednesday  2011  28.010000  27.770000  27.900000  28.000000
2011-01-06    Thursday  2011  28.850000  27.860001  28.040001  28.820000
2011-01-07      Friday  2011  28.740000  28.250000  28.639999  28.600000
2011-01-10      Monday  2011  28.400000  28.040001  28.260000  28.219999
2011-01-11     Tuesday  2011  28.250000  28.049999  28.200001  28.110001
2011-01-12   Wednesday  2011  28.590000  28.070000  28.120001  28.549999
2011-01-13    Thursday  2011  28.389999  28.010000  28.330000  28.190001
2011-01-14      Friday  2011  28.379999  27.910000  28.080000  28.299999
2011-01-18     Tuesday  2011  28.740000  28.139999  28.160000  28.660000
2011-01-19   Wednesday  2011  28.680000  28.270000  28.459999  28.469999
2011-01-20    Thursday  2011  28.549999  28.129999  28.500000  28.350000
2011-01-21      Friday  2011  28.430000  28.020000  28.400000  28.020000
2011-01-24      Monday  2011  28.559999  27.990000  28.020000  28.379999
2011-01-25     Tuesday  2011  28.450001  28.120001  28.139999  28.450001
2011-01-26   Wednesday  2011  28.990000  28.500000  28.510000  28.780001
2011-01-27    Thursday  2011  29.459999  28.490000  28.750000  28.870001
2011-01-28      Friday  2011  28.930000  27.450001  28.900000  27.750000
2011-01-31      Monday  2011  27.900000  27.420000  27.770000  27.730000
2011-02-01     Tuesday  2011  28.059999  27.610001  27.799999  27.990000
2011-02-02   Wednesday  2011  28.110001  27.879999  27.930000  27.940001
2011-02-03    Thursday  2011  27.969999  27.540001  27.969999  27.650000
2011-02-04      Friday  2011  27.840000  27.510000  27.700001  27.770000
2011-02-07      Monday  2011  28.340000  27.790001  27.799999  28.200001
2011-02-08     Tuesday  2011  28.340000  28.049999  28.100000  28.280001
2011-02-09   Wednesday  2011  28.260000  27.910000  28.190001  27.969999
2011-02-10    Thursday  2011  27.940001  27.290001  27.930000  27.500000
2011-02-11      Friday  2011  27.809999  27.070000  27.760000  27.250000
2011-02-14      Monday  2011  27.270000  26.950001  27.209999  27.230000
...                ...   ...        ...        ...        ...        ...
2011-11-17    Thursday  2011  26.040001  25.440001  26.010000  25.540001
2011-11-18      Friday  2011  25.500000  25.150000  25.480000  25.299999
2011-11-21      Monday  2011  25.250000  24.900000  25.240000  25.000000
2011-11-22     Tuesday  2011  24.959999  24.650000  24.889999  24.790001
2011-11-23   Wednesday  2011  24.790001  24.469999  24.610001  24.469999
2011-11-25      Friday  2011  24.670000  24.299999  24.379999  24.299999
2011-11-28      Monday  2011  24.969999  24.690001  24.940001  24.870001
2011-11-29     Tuesday  2011  25.040001  24.750000  24.820000  24.840000
2011-11-30   Wednesday  2011  25.590000  25.139999  25.370001  25.580000
2011-12-01    Thursday  2011  25.629999  25.200001  25.559999  25.280001
2011-12-02      Friday  2011  25.620001  25.160000  25.590000  25.219999
2011-12-05      Monday  2011  25.799999  25.500000  25.780001  25.700001
2011-12-06     Tuesday  2011  25.870001  25.610001  25.809999  25.660000
2011-12-07   Wednesday  2011  25.760000  25.340000  25.670000  25.600000
2011-12-08    Thursday  2011  25.719999  25.370001  25.480000  25.400000
2011-12-09      Friday  2011  25.870001  25.500000  25.520000  25.700001
2011-12-12      Monday  2011  25.570000  25.290001  25.410000  25.510000
2011-12-13     Tuesday  2011  26.100000  25.650000  25.750000  25.760000
2011-12-14   Wednesday  2011  25.860001  25.570000  25.719999  25.590000
2011-12-15    Thursday  2011  25.879999  25.540001  25.719999  25.559999
2011-12-16      Friday  2011  26.170000  25.629999  25.670000  26.000000
2011-12-19      Monday  2011  26.120001  25.459999  26.020000  25.530001
2011-12-20     Tuesday  2011  26.100000  25.809999  25.860001  26.030001
2011-12-21   Wednesday  2011  26.190001  25.440001  26.010000  25.760000
2011-12-22    Thursday  2011  25.860001  25.480000  25.820000  25.809999
2011-12-23      Friday  2011  26.040001  25.730000  25.910000  26.030001
2011-12-27     Tuesday  2011  26.139999  25.930000  25.959999  26.040001
2011-12-28   Wednesday  2011  26.150000  25.760000  26.110001  25.820000
2011-12-29    Thursday  2011  26.049999  25.860001  25.950001  26.020000
2011-12-30      Friday  2011  26.120001  25.910000  26.000000  25.959999

                 Volume  Adj Close
Date
2011-01-03   53443800.0  22.814135
2011-01-04   54405600.0  22.903831
2011-01-05   58998700.0  22.830442
2011-01-06   88026300.0  23.499050
2011-01-07   73762000.0  23.319666
2011-01-10   57573600.0  23.009823
2011-01-11   50298900.0  22.920137
2011-01-12   52631100.0  23.278906
2011-01-13   67077600.0  22.985361
2011-01-14   62688400.0  23.075050
2011-01-18   53322700.0  23.368587
2011-01-19   50005900.0  23.213663
2011-01-20   58613600.0  23.115824
2011-01-21   58080300.0  22.846756
2011-01-24   52047800.0  23.140284
2011-01-25   42436600.0  23.197361
2011-01-26   74628800.0  23.466436
2011-01-27  146938600.0  23.539818
2011-01-28  141249400.0  22.626600
2011-01-31   65029000.0  22.610296
2011-02-01   62810700.0  22.822296
2011-02-02   45824000.0  22.781523
2011-02-03   60340100.0  22.545067
2011-02-04   40412200.0  22.642906
2011-02-07   68980900.0  22.993515
2011-02-08   34904200.0  23.058744
2011-02-09   52905100.0  22.805983
2011-02-10   76672400.0  22.422758
2011-02-11   83939700.0  22.218910
2011-02-14   56766200.0  22.202610
...                 ...        ...
2011-11-17   70977500.0  21.377876
2011-11-18   47626200.0  21.176981
2011-11-21   61882500.0  20.925871
2011-11-22   49204500.0  20.750101
2011-11-23   49099700.0  20.482244
2011-11-25   26164600.0  20.339951
2011-11-28   46766700.0  20.817060
2011-11-29   40917100.0  20.791950
2011-11-30   81350900.0  21.411354
2011-12-01   48545400.0  21.160242
2011-12-02   52293800.0  21.110025
2011-12-05   56818400.0  21.511799
2011-12-06   46175300.0  21.478312
2011-12-07   62667000.0  21.428095
2011-12-08   60522200.0  21.260685
2011-12-09   53788500.0  21.511799
2011-12-12   38945900.0  21.352764
2011-12-13   54581100.0  21.562021
2011-12-14   47926400.0  21.419725
2011-12-15   46213900.0  21.394613
2011-12-16  101408100.0  21.762909
2011-12-19   52258300.0  21.369501
2011-12-20   60767600.0  21.788025
2011-12-21   64132500.0  21.562021
2011-12-22   35794100.0  21.603876
2011-12-23   23205800.0  21.788025
2011-12-27   21287200.0  21.796392
2011-12-28   29822500.0  21.612244
2011-12-29   22616900.0  21.779650
2011-12-30   27395700.0  21.729425

[252 rows x 8 columns]

# pd.DateOffset Objects

In [71]:
GOOG = data.DataReader(name="GOOG", data_source="yahoo", start=dt.date(2000,1,1), end=dt.datetime.now())

In [72]:
GOOG.shape

(3648, 6)

In [74]:
GOOG.index + pd.DateOffset(days=5)

DatetimeIndex(['2004-08-24', '2004-08-25', '2004-08-28', '2004-08-29',
               '2004-08-30', '2004-08-31', '2004-09-01', '2004-09-04',
               '2004-09-05', '2004-09-06',
               ...
               '2019-02-06', '2019-02-09', '2019-02-10', '2019-02-11',
               '2019-02-12', '2019-02-13', '2019-02-16', '2019-02-17',
               '2019-02-18', '2019-02-19'],
              dtype='datetime64[ns]', name='Date', length=3648, freq=None)

In [76]:
GOOG.index + pd.DateOffset(weeks=2)
GOOG.index + pd.DateOffset(months=2)

DatetimeIndex(['2004-10-19', '2004-10-20', '2004-10-23', '2004-10-24',
               '2004-10-25', '2004-10-26', '2004-10-27', '2004-10-30',
               '2004-10-31', '2004-11-01',
               ...
               '2019-04-01', '2019-04-04', '2019-04-05', '2019-04-06',
               '2019-04-07', '2019-04-08', '2019-04-11', '2019-04-12',
               '2019-04-13', '2019-04-14'],
              dtype='datetime64[ns]', name='Date', length=3648, freq=None)

In [77]:
GOOG.index + pd.DateOffset(years=2)

DatetimeIndex(['2006-08-19', '2006-08-20', '2006-08-23', '2006-08-24',
               '2006-08-25', '2006-08-26', '2006-08-27', '2006-08-30',
               '2006-08-31', '2006-09-01',
               ...
               '2021-02-01', '2021-02-04', '2021-02-05', '2021-02-06',
               '2021-02-07', '2021-02-08', '2021-02-11', '2021-02-12',
               '2021-02-13', '2021-02-14'],
              dtype='datetime64[ns]', name='Date', length=3648, freq=None)

In [78]:
GOOG.index + pd.DateOffset(hours=8)

DatetimeIndex(['2004-08-19 08:00:00', '2004-08-20 08:00:00',
               '2004-08-23 08:00:00', '2004-08-24 08:00:00',
               '2004-08-25 08:00:00', '2004-08-26 08:00:00',
               '2004-08-27 08:00:00', '2004-08-30 08:00:00',
               '2004-08-31 08:00:00', '2004-09-01 08:00:00',
               ...
               '2019-02-01 08:00:00', '2019-02-04 08:00:00',
               '2019-02-05 08:00:00', '2019-02-06 08:00:00',
               '2019-02-07 08:00:00', '2019-02-08 08:00:00',
               '2019-02-11 08:00:00', '2019-02-12 08:00:00',
               '2019-02-13 08:00:00', '2019-02-14 08:00:00'],
              dtype='datetime64[ns]', name='Date', length=3648, freq=None)

In [80]:
GOOG.index - pd.DateOffset(years=1, months=2, days=10)

DatetimeIndex(['2003-06-09', '2003-06-10', '2003-06-13', '2003-06-14',
               '2003-06-15', '2003-06-16', '2003-06-17', '2003-06-20',
               '2003-06-20', '2003-06-21',
               ...
               '2017-11-21', '2017-11-24', '2017-11-25', '2017-11-26',
               '2017-11-27', '2017-11-28', '2017-12-01', '2017-12-02',
               '2017-12-03', '2017-12-04'],
              dtype='datetime64[ns]', name='Date', length=3648, freq=None)

In [82]:
GOOG.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2019-02-28', '2019-02-28', '2019-02-28', '2019-02-28',
               '2019-02-28', '2019-02-28', '2019-02-28', '2019-02-28',
               '2019-02-28', '2019-02-28'],
              dtype='datetime64[ns]', name='Date', length=3648, freq=None)

In [83]:
GOOG.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-08-31',
               ...
               '2019-01-31', '2019-01-31', '2019-01-31', '2019-01-31',
               '2019-01-31', '2019-01-31', '2019-01-31', '2019-01-31',
               '2019-01-31', '2019-01-31'],
              dtype='datetime64[ns]', name='Date', length=3648, freq=None)

In [84]:
from pandas.tseries.offsets import *

In [85]:
GOOG.index - MonthEnd()

DatetimeIndex(['2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-08-31',
               ...
               '2019-01-31', '2019-01-31', '2019-01-31', '2019-01-31',
               '2019-01-31', '2019-01-31', '2019-01-31', '2019-01-31',
               '2019-01-31', '2019-01-31'],
              dtype='datetime64[ns]', name='Date', length=3648, freq=None)

# The Pandas Timedelta Object

In [88]:
timeA = pd.Timestamp("2016-02-28")
timeB = pd.Timestamp("2016-02-20")

In [89]:
timeA - timeB

Timedelta('8 days 00:00:00')

In [90]:
type(timeA - timeB)

pandas._libs.tslibs.timedeltas.Timedelta

In [91]:
type(timeA)

pandas._libs.tslibs.timestamps.Timestamp

In [92]:
timeB - timeA

Timedelta('-8 days +00:00:00')

In [93]:
pd.Timedelta(days=3)

Timedelta('3 days 00:00:00')

In [95]:
pd.Timedelta(days=3, minutes=20, hours=2, weeks=3)

Timedelta('24 days 02:20:00')

In [96]:
pd.Timedelta("5 minutes")

Timedelta('0 days 00:05:00')

In [97]:
pd.Timedelta("6 hours 12 minutes")

Timedelta('0 days 06:12:00')

In [99]:
pd.Timedelta("14 days 6 hours 12 minutes 48 seconds")

Timedelta('14 days 06:12:48')

# Timedeltas in a Dataset

In [107]:
shipping = pd.read_csv('ecommerce.csv', index_col='ID', parse_dates=['order_date', 'delivery_date'])

In [108]:
shipping.head()

TypeError: __init__() got an unexpected keyword argument 'max_rows'

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [110]:
shipping['delivery_time'] = shipping['delivery_date'] - shipping['order_date']

In [111]:
shipping.head()

TypeError: __init__() got an unexpected keyword argument 'max_rows'

   order_date delivery_date delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [113]:
shipping['delivery_date'] - shipping['delivery_time']

ID
1     1998-05-24
2     1992-04-22
4     1991-02-10
5     1992-07-21
7     1993-09-02
8     1993-06-10
9     1990-01-25
10    1992-02-23
11    1996-07-12
18    1995-06-18
19    1998-05-10
20    1992-10-17
23    1992-05-30
26    1996-04-11
30    1998-10-22
32    1990-01-20
33    1994-09-21
35    1993-09-10
36    1990-05-15
39    1990-03-26
41    1992-02-06
46    1995-09-05
50    1991-05-03
52    1994-09-02
53    1995-11-29
54    1996-08-07
58    1995-02-11
59    1995-09-29
60    1993-02-14
63    1990-12-22
         ...
932   1997-07-25
934   1995-05-22
935   1990-09-26
938   1993-03-24
939   1998-10-01
942   1992-04-14
943   1991-01-30
945   1992-10-27
946   1991-07-02
947   1991-06-18
949   1991-10-07
951   1991-10-02
953   1991-09-26
954   1993-08-08
956   1995-08-23
957   1994-10-01
958   1990-04-26
969   1996-09-24
972   1990-02-07
975   1997-06-18
981   1997-01-31
983   1994-12-30
984   1991-07-25
985   1995-07-26
986   1990-12-10
990   1991-06-24
991   1991-09-09
993   1990-11-16
994   1993-06-03
997   1990-01-04
Length: 501, dtype: datetime64[ns]

In [114]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
delivery_time    timedelta64[ns]
dtype: object

In [117]:
shipping[shipping['delivery_time'] > '365 days']

TypeError: __init__() got an unexpected keyword argument 'max_rows'

    order_date delivery_date delivery_time
ID
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
9   1990-01-25    1994-10-02     1711 days
10  1992-02-23    1998-12-30     2502 days
11  1996-07-12    1997-07-14      367 days
18  1995-06-18    1997-10-13      848 days
20  1992-10-17    1998-10-06     2180 days
23  1992-05-30    1999-08-15     2633 days
26  1996-04-11    1998-05-04      753 days
32  1990-01-20    1998-07-24     3107 days
33  1994-09-21    1996-10-12      752 days
35  1993-09-10    1996-04-28      961 days
36  1990-05-15    1994-02-14     1371 days
39  1990-03-26    1993-01-25     1036 days
41  1992-02-06    1996-05-10     1555 days
50  1991-05-03    1999-07-17     2997 days
52  1994-09-02    1997-05-14      985 days
53  1995-11-29    1998-06-23      937 days
54  1996-08-07    1998-04-04      605 days
60  1993-02-14    1995-08-06      903 days
63  1990-12-22    1995-09-02     1715 days
64  1990-11-25    1998-05-14     2727 days
66  1992-09-08    1998-12-29     2303 days
67  1990-05-04    1993-02-04     1007 days
70  1994-02-16    1999-11-06     2089 days
71  1990-11-25    1998-04-06     2689 days
73  1991-10-01    1993-05-19      596 days
75  1990-06-25    1996-12-18     2368 days
..         ...           ...           ...
907 1994-08-11    1998-09-28     1509 days
908 1993-11-04    1997-02-26     1210 days
909 1991-01-19    1998-08-22     2772 days
916 1994-12-03    1997-03-26      844 days
918 1994-12-29    1996-07-29      578 days
919 1992-01-25    1993-06-01      493 days
922 1996-07-06    1998-12-05      882 days
924 1991-03-17    1996-05-13     1884 days
926 1990-10-31    1994-04-12     1259 days
935 1990-09-26    1998-03-07     2719 days
938 1993-03-24    1995-07-15      843 days
942 1992-04-14    1997-03-03     1784 days
943 1991-01-30    1999-12-02     3228 days
945 1992-10-27    1994-11-03      737 days
946 1991-07-02    1996-02-23     1697 days
947 1991-06-18    1999-06-11     2915 days
951 1991-10-02    1994-04-18      929 days
953 1991-09-26    1994-05-08      955 days
956 1995-08-23    1999-01-10     1236 days
957 1994-10-01    1999-07-25     1758 days
958 1990-04-26    1997-06-29     2621 days
972 1990-02-07    1995-11-05     2097 days
981 1997-01-31    1998-03-04      397 days
983 1994-12-30    1997-07-29      942 days
984 1991-07-25    1999-02-09     2756 days
986 1990-12-10    1992-12-16      737 days
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
997 1990-01-04    1991-10-03      637 days

[394 rows x 3 columns]